<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teachingtool.order.mapper.OrderMapper">
    <select id="selectOrdersByOrderId" resultType="com.teachingtool.pojo.Order">
        SELECT * FROM orders WHERE order_id = #{orderId}
    </select>
    <update id="updateOrderDetail" parameterType="com.teachingtool.vo.OrderDetailVo">
        UPDATE orders
        <set>
            <if test="orderDetail.orderAddress != null">
                order_address = #{orderDetail.orderAddress},
            </if>
            <if test="orderDetail.orderPhone != null">
                order_phone = #{orderDetail.orderPhone},
            </if>
            <if test="orderDetail.orderName != null">
                order_name = #{orderDetail.orderName},
            </if>
            <if test="orderDetail.productNum != null">
                product_num = #{orderDetail.productNum},
            </if>
        </set>
        WHERE order_id = #{orderDetail.orderId}
    </update>
</mapper>